<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>yue.css</title>
<link rel="stylesheet" href="/static/yue.css" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0.4em 1em 6em;
        background: #fff;
      }
      .yue {
        max-width: 650px;
        margin: 0 auto;
      }
    </style>
            <!-- Google web Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Fauna+One|Oleo+Script|Fugaz+One|Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Astronomer" -->
        <link href='https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab:300' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The River" -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:800|Gentium+Basic:400,400italic' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Crow and the Pitcher" -->
        <link href='https://fonts.googleapis.com/css?family=Questrial|Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Fox and the Grapes" -->
        <link href='https://fonts.googleapis.com/css?family=Ovo|Muli:300' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Moon and Her Mother: Anon03" -->
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Vast+Shadow|Oswald:300|Playfair+Display+SC' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Prophet" -->
        <link href='https://fonts.googleapis.com/css?family=Neuton:300' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The wolves, the sheep, and the ram" -->
        <link href='https://fonts.googleapis.com/css?family=Quattrocento|Fanwood+Text' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Boy Bathing" -->
        <link href='https://fonts.googleapis.com/css?family=Quando|Judson|Montserrat:700' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Serpent and The Eagle  " -->
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:700italic,700|Exo:400,400italic' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Fir-Tree" -->
        <link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded|Slabo+13px|Ultra' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The fox and the lion" -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Lora:400italic' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Horse and the Groom" -->
        <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Crow and The Raven" -->
        <link href='https://fonts.googleapis.com/css?family=Nixie+One|Libre+Baskerville' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The North Wind and The Sun" -->
        <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One|Crimson+Text:400,400italic' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Old Hound" -->
        <link href='https://fonts.googleapis.com/css?family=Almendra+Display|Cardo' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "Jupiter And The Tortoise" -->
        <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "Grief and His Due" -->
        <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Amiri' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Trees And The Axe" -->
        <link href='https://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>

        <!-- Google web fonts for "The Bee and Jupiter" -->
        <link href='http://fonts.googleapis.com/css?family=Yeseva+One|Merriweather+Sans:300|Merriweather:400italic' rel='stylesheet' type='text/css'>

        <link href="/static/google-type.css" rel="stylesheet">
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/scripts.js"></script>
  </head>
  <body>


        <div class="container-fluid section-crow-pitcher " id="femmebot">
            <div class="container">
              {{ doc | safe }}
            </div>
        </div>

</body>
</html>