<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
         <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ data['title'] | safe }}</title>
<link rel="stylesheet" href="/static/yue.css" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0.4em 1em 6em;
        background: #fff;
      }
      .yue {
        max-width: 650px;
        margin: 0 auto;
      }
    </style>
    
  </head>
  <body>
<div class="yue">
<p align="center"><a href="/">&larr; Another</a></p>

<h1>{{ data['title'] | safe }}</h1>
<p><small><i>{{ data['description'] | safe }}</i></small></p>
<p><small>Loaded in {{ data['size'] | safe }}kb in {{ data['timeElapsed'] | safe }} ms. <a href="{{ data['url'] }}">Original.</a></small></p>
<hr>


{{ data['content'] | safe }}

<p align="center"><a href="/">&larr; Another</a></p>

</div>

</body>
</html>