<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Just Read</title>
         <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/static/img/favicon.ico" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
    <!-- Bootstrap and JQuery JS -->
      <script src="/static/js/jquery-2.0.0.min.js" ></script>
    <script src='/static/js/bootstrap.js'></script>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/2-col-portfolio.css" rel="stylesheet">


  <link rel="stylesheet" href="/static/main.css">


  <meta name="author" content="Zack Scholl">
  <meta name="description" content=""/>

  </head>
  <body>
  

  <div class="wrapper">
    <header>
        
        <div class="logo-container">
          <a class="logo" href="" style="background-image: url('/static/img/compass.png')"></a>
        </div>
        

        
        <div class="author-container"><h1>Just Read.</h1></div>
        

        
        <div class="tagline-container"><p>Copy and paste URL to get just the text content of that site.</div>
        
    </header>
    <main>
      
      <div class="content">
               <form action='/' method='POST'>
                <input type='text' class="form-control input-lg" name='group' id='group' placeholder='Type a URL' autofocus></input>
               </form>
               <p class="lead">...or use /?url=X in the browser.</p>

      </div>
      
    </main>
</div>


</body>
</html>
